import(tools)
import(KernSmooth)
import(pls)
import(parallel)
import(hyperSpec)
importFrom(soil.spec, read.opus)
#import(leaf.spec.DB)
import(StatMatch)
#' @importFrom stats predict

export(calibrate)
export(optimizePLS)
export(subsetSpectra)
#export(readSpectrum)
export(readSpectra)
#export(writeSpectrum)
export(writeSpectra)
export(preprocess)
export(averageSpectra)
#export(plotSpectra)
#export(predictPLS)
export(subdivideDataset)
export(convertSpectra)
export(makeCompatible)
export(plot.spectra.matrix)
export(predict.PLScalibration)
#export(plotPLScalibration)
export(plot.PLScalibration)
export(combineSpectra)

export(as.spectra.list)
export(as.spectra.matrix)

S3method('[', "spectra.matrix")
S3method(plot, spectra.matrix)
S3method(plot, spectra.list)
S3method(predict, PLScalibration)
S3method(plot, PLScalibration)
#S3method(as, spectra.list)
#S3method(as, spectra.matrix)

